* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #5ED1F7;
  --secondary: #ffffff;
  --yellow: #F4EB72;
  --pink: #D885FF;
}

.affirmation {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  color: var(--secondary);
  padding: 2vw;
}

body {
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
  color: var(--secondary);
  background-color: var(--primary);
  margin: 40px;
}

button {
  color: var(--yellow);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 10px;
  font-size: x-large;
}

button:hover {
  color: var(--secondary);
  background-color: var(--pink);
  border-color: var(--pink);
}

.btnNewDoozie {
  margin-top: 4vw;
}

.calendar {
  color: var(--secondary);
  padding-top: 5vw;
  font-weight: bolder;
  font-size: larger;
}

.calendar button {
  color: var(--secondary)
}

.calendar button:hover {
  background-color: var(--secondary)
}

.cbox:checked + label {
  text-decoration: line-through;
  font-size: medium;
}

header {
  margin-bottom: 2vw;
}

header h1 {
  color: var(--secondary);
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  margin-top: 10vw;
}

form button {
  margin-top: 10px;
}

label {
  padding-bottom: 20px;
}

.noTasks {
  margin: 2vw 0;
}

.signup-form, .login-form {
  padding: 20px;
  border: 1px solid var(--yellow);
  border-radius: 15px;
  margin-top: 55px;
  background-color: var(--yellow);
  width: 40vw;
  height: 30vw;
}

.signup-form button, .login-form button {
  color: var(--secondary);
  font-weight: bold;
}

.signup-form input, .login-form input {
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

.space-between {
  justify-content: space-between;
  margin: 10px;
}

.strikethrough {
  text-decoration: line-through;
}

textarea {
  width: 100%;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
}

.today-list {
  color: var(--primary);
  margin: 4vw 0vw;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .calendar {
    padding-top: 10vw;
  }
  .signup-form, .login-form {
    width: auto;
    height: auto;
  }
  .today-list {
    width: 30vw;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .calendar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .home {
    flex-direction: column;
  }
  .today-list {
    width: auto;
  }
}